<div class="session">
  <h1 class="title">Authentication</h1>
  <%= form_for :session, url: signin_path do |f| %>
    <p>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </p>
    <%= f.submit "Sign in" %>
  <% end %>
</div>
