<!DOCTYPE html>
<html>
  <head>
    <title>MicroverseMembers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @current_user %>
      <p>Name: <%= @current_user.name %></p>
      <p>Email: <%= @current_user.email %></p>
      <p> <%= link_to 'Sign out', signout_path, method: :delete %> </p>

      <hr/>
    <% end %>
    <%= yield %>
  </body>
</html>
